.match {
  display: grid;
  grid-template-columns: 25%;
  margin-bottom: 20px;
  grid-column-gap: 10px;
}

@keyframes pulse-red {
  0%   {border-left: 4px solid red; }
  50% { border-left: 4px solid white; }
  100% {border-left: 4px solid red; }
}

.on-air {
  border-left: 4px solid red;
  padding-left: 6px;
  animation-name: pulse-red;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.match-time {
  grid-column: 1;
  grid-row: 1;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.match-title {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.match-station {
  grid-column: 1;
  grid-row: 2;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.match-competition {
  grid-column: 2;
  grid-row: 2;
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
